.contentHome {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  position: absolute;
}

.contentRow {
  background-color: #262626;
  width: 240rem;
  height: 25vh;
  position: relative;
  display: flex;
  transform: skew(20deg);
}

.contentRow img {
  width: 12rem;
  height: 25vh;
  opacity: 0.4;
  border: 0.1rem solid black;
}

.contentHome :nth-child(1) {
  left: 0rem;
}

.ImageOne {
  background-color: rgb(32, 31, 31);
  width: 24rem;
  height: 25rem;
  position: absolute;
  top: 0rem;
  left: 0rem;
  animation: one 10s steps(1, start) 0s infinite alternate;
}

@keyframes one {
  0% {
    left: 0;
  }
  9% {
    left: 24rem;
  }
  18% {
    left: 48rem;
  }
  27% {
    left: 60rem;
  }
  36% {
    left: 84rem;
  }
  45% {
    left: 108rem;
  }
  54% {
    left: 84rem;
  }
  63% {
    left: 60rem;
  }
  72% {
    left: 36rem;
  }
  81% {
    left: 24rem;
  }
  90% {
    left: 12rem;
  }
  100% {
    left: 0rem;
  }
}

.contentHome :nth-child(2) {
  right: 36rem;
}

.ImageTwo {
  background-color: rgb(32, 31, 31);
  width: 24rem;
  height: 25rem;
  position: absolute;
  top: 0rem;
  left: 120rem;
  animation: two 10s steps(1, start) 0s infinite alternate;
}

@keyframes two {
  0% {
    left: 108rem;
  }
  9% {
    left: 96rem;
  }
  18% {
    left: 84rem;
  }
  27% {
    left: 72rem;
  }
  36% {
    left: 60rem;
  }
  45% {
    left: 24rem;
  }
  54% {
    left: 12rem;
  }
  63% {
    left: 24rem;
  }
  72% {
    left: 60rem;
  }
  81% {
    left: 72rem;
  }
  90% {
    left: 96rem;
  }
  100% {
    left: 120rem;
  }
}

.contentHome :nth-child(3) {
  right: 84rem;
}

.ImageThree {
  background-color: rgb(32, 31, 31);
  width: 24rem;
  height: 25rem;
  position: absolute;
  top: 0rem;
  left: 72rem;
  animation: three 10s steps(1, start) 0s infinite alternate;
}

@keyframes three {
  0% {
    left: 72rem;
  }
  9% {
    left: 84rem;
  }
  18% {
    left: 96rem;
  }
  27% {
    left: 108rem;
  }
  36% {
    left: 120rem;
  }
  45% {
    left: 132rem;
  }
  54% {
    left: 120rem;
  }
  63% {
    left: 108rem;
  }
  72% {
    left: 96rem;
  }
  81% {
    left: 84rem;
  }
  90% {
    left: 72rem;
  }
  100% {
    left: 60rem;
  }
}

.contentHome :nth-child(4) {
  right: 96rem;
}

.ImageFour {
  background-color: rgb(32, 31, 31);
  width: 24rem;
  height: 25rem;
  position: absolute;
  top: 0rem;
  left: 216rem;
  animation: four 10s steps(1, start) 0s infinite alternate;
}

@keyframes four {
  0% {
    left: 216rem;
  }
  9% {
    left: 204rem;
  }
  18% {
    left: 196rem;
  }
  27% {
    left: 180rem;
  }
  36% {
    left: 156rem;
  }
  45% {
    left: 132rem;
  }
  54% {
    left: 96rem;
  }
  63% {
    left: 132rem;
  }
  72% {
    left: 168rem;
  }
  81% {
    left: 192rem;
  }
  90% {
    left: 204rem;
  }
  100% {
    left: 216rem;
  }
}

.title {
  color: rgba(242, 5, 5, 0.85);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0.5rem 0.5rem 1rem rgb(0, 0, 0);
}

.button {
  background-color: rgba(242, 5, 5, 0.85);
  margin-top: 3rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #181414;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.788);
}

.button:hover {
  color: rgba(242, 5, 5, 0.342);
}

@media (max-width: 770px) {
  .title {
    font-size: 0.9rem;
    top: 35%;
  }

  .button {
    font-size: 1.2rem;
  }
}
