.contentSearch {
  background-color: rgb(38, 38, 38);
  width: calc(100vw - 5.3rem);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0rem;
  left: 4rem;
  z-index: 5;
}

.contentSearch h2 {
  color: rgba(242, 5, 5, 0.85);
  font-size: 1.5rem;
  position: absolute;
  top: 1.8rem;
  left: 6rem;
  text-transform: uppercase;
}

form {
  width: 40rem;
}

.input {
  background-color: transparent;
  margin-top: 7rem;
  width: 40rem;
  height: 7rem;
  font-size: 6rem;
  text-align: center;
  color: white;
  outline: none;
  border: none;
}

.hiddenSearch {
  display: none;
}

.contentCradSearch {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
}

.Keyboard {
  margin-top: 4rem;
}

/* responsive */

@media (max-width: 750px) {
  .contentSearch {
    height: 100vh; /* 58 */
    width: 100vw;
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0);
  }

  form {
    width: 100%;
  }

  .contentSearch h2 {
    font-size: 0.8rem;
    top: 1.8rem;
    left: 1rem;
  }

  .input {
    margin-top: 4rem;
    width: 81%;
    height: 3rem;
    font-size: 1rem;
  }

  .contentCradSearch {
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem 3.5rem 0 0;
    flex-wrap: wrap;
  }

  .Keyboard {
    display: none;
  }
}
